<style>
            :root {
                --primary-color: #d51243;
                --primary-color-rgb: 213,18,67;
                --primary-font: 'Jost', sans-serif;
            }
        </style>